:root{
    --lightgray: #E5E5E5;
    --yellow: #FCA311;
    --white: #fff;
    --lightred: #f9433dcc;
    --black: #000;
}

html{
    background-color: var(--lightgray);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}


/*inicio navbar*/
.nav-container{
    width: 100%;
    background-color: var(--lightgray);
    position: fixed;
    z-index: 10;
}

.navbar{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    height: 90px;
    max-width: 1720px;
    margin: 0 auto;
}

#header-img{
    justify-self: start;
    margin-left: 20px;
}

#header-img{
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 50%;
    justify-self: end;
}

.nav-link{
    color: var(--black);
    text-decoration: none;
}

.nav-link:hover{
    color: var(--yellow);
}

/*final navbar*/

/*inicio home*/
.main{
    position: relative;
    top: 5.4rem;
    
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    
}

.main-content{
    justify-self: self-start;
    margin-left: 20px;
    width: 80%;
}

.main-content h1{
    font-size: 2.5rem;
}

.main-content p{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.main img{
    max-width: 100%;
    height: auto;
}

/*final home*/

/*inicio publicidad*/
#publicidad{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}
  
#publicidad> iframe {
    max-width: 700px;
    width: 100%;
    border: 1rem;
    border-color: var(--yellow) ;
    border-style: outset;
    margin: 3rem;
    
}
/*final publicidad*/

/*inicio hero*/
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
  
#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}
  
#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

.button{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
    margin: 1rem;
}

.button:hover {
    background-position: right center;
}

.button:active {
    top: 2px;
}

/*final hero*/

/*inicio paquetes*/
#precios{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5rem auto;
}  

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 1rem;
    border: 4px solid var(--black);
}
  
.titlepro{
    background-color: var(--yellow);
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
  
.product h2 {
    margin-top: 15px;
}
  
.product ul {
    margin: 15px 0;
    list-style: none;
}
  
.product li {
    padding: 5px 0;
}
  
.button2{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #075300 0%, #02af1f 75%);
    margin: 1rem;
}

.button2:hover {
    background-position: right center;
}

.button2:active {
    top: 2px;
}


/*consultas de medios*/

@media screen and (max-width: 778px) {
    .nav-container{
        position: fixed;
    }

    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 90%;
        background-color: var(--lightgray);
        border-bottom: 1px solid #000;
    }

    .nav-link{
        text-align: center;
        line-height: 25px;
        width: 100%;
        display: table;
    }

    .navbar{
        width: 100%;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 6.5rem;
    }

    .main-content{
        justify-self: center;
        width: 80%;
        margin: 0;
    }

    .main-content h1{
        font-size: 2rem;
        text-align: center;
    }

    .main-content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #precios{
        flex-direction: column;
      }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .main-img-container{
          width: 80%;
          height: 100%;
    }

    .product{
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 480px){
    .main-content{
        text-align: center;
    }

    .main-content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main-content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    #main-img{
        display: none;
    }

    #hero {
        margin-top: 120px;
      }

    
}














